# Ingestion + loading
boto3==1.34.140
kafka-python-ng==2.2.3
requests==2.32.3
psycopg2-binary==2.9.9
websocket-client==1.8.0   # only needed for SOURCE=binance streaming

# Transformation
dbt-postgres==1.8.2

# Testing / dev
pytest==8.2.2
